<h1>Films</h1>
<div class="row">
    {{#each films}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{!-- todo: EditIcon --}}
                </div>
                <div class="card-content center-align">
                    <h5>{{judul}}'s Films</h5>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <td>{{user.displayName}}</td>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/film/user/{{user._id}}" class="btn grey">Film List</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No films to display</p>
    {{/each}}
</div>